/*decoracion de mi encabezado*/
header{
    background-color: #2621ae;
    text-align: center;
    margin-top: 0;
}
/*estilo directamente a h1 de mi enxacebzado*/
header h1{
    color: white;
    padding-top: 20px;
    margin: 0 auto;
}
/*diseño de mi barra de navegacion*/
nav{
background-color: #252525;
padding: 20px;
text-align: center;
margin-bottom: 20px;
}
/*diseño a los links de mi barra de navegacion*/
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
/*efecto a mis links cuando el cursor este encima*/
a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: all;
    transition-duration: 0.5s;
}
body{
    /*diseño del cuerpo entero de mi pagina web*/
    background-color:#d0cece;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*tamaño y ajustes de mi imagen*/
img{
    height: 100px;
    width: 150px;
    padding-bottom: 20px;
}
/*diseño de todas mis secciones en general*/
section{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    margin:  10px auto;
    max-width: 800px;
}
/*auitandole las viñetas a mi lista*/
#Beneficios ul{
    list-style-type: none;
    padding: 0;
}
/*decracién a cada elemento de mi lista*/
#Beneficios li{
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
/*diseño especialmente para mis bloques de textos
en el area de mis comentarios*/
#Comentarios blockquote{
    background-color: #e0f0ff;
    border-left: 4px solid #2621ae;
    padding: 2px;
    font-style: italic;
}
/*diseño de mi boton comprar*/
button{
    color: rgb(255, 255, 255);
    background-color: #f67632;
    border-radius: 10px ;
    padding: 20px;
    margin: 0;
    font-weight: bold;
    border: none;
}
/*color y tamaño que afectara a mi boton cuando el
curor este encima de el*/
button:hover{
    background-color: orange;
    padding: 25px;
    transition: 1s all;
}

/*diseño de border */
textarea{
border: 2px solid #e5e5e5ee;
}
/*diseño de border */
input{
 border: 2px solid #e5e5e5ee;   
}
/*ajustes a la seccion de mi boton de enviar*/
#submit{
  margin-bottom: 0; 
  padding: 0; 
}
/*decorando mi boton de enviar en mi formulario*/
#submit input{
    background-color: #e5e5e5ee;
    border: none;
    padding: 10px;
    margin: 0;
}
/*estilo a mi pie de pagina*/
footer{
    background-color: #414040ee;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
